<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>部门</legend>
    </fieldset>

    <form class="layui-form" action="">
        <input type="hidden" name="id" id="id"/>
        <div class="layui-form-item">
            <label class="layui-form-label">部门名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" id="name" lay-verify="required" placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部门编码</label>
            <div class="layui-input-block">
                <input type="text" name="deptCode" readonly id="deptCode" lay-verify="required" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">组织机构</label>
            <div class="layui-input-inline">
                <select id="orgId" name="orgId">
                    <option>请选择组织机构</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">使用状态</label>
            <div class="layui-input-block">
                <input type="radio" name="state" id="state_y" value="1" title="启用" checked="">
                <input type="radio" name="state" id="state_n" value="0" title="停用">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">部门描述</label>
            <div class="layui-input-block">
                <textarea name="description" id="description" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>
<script type="text/javascript" th:inline="none">
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer;

        JFATTY.doGet({
            url: JFATTY.basePath() + "org/list",
            async: false,
            data: null,
            success: function (value, type) {
                $("#orgId").html("");
                var html = "<option >请选择组织机构</option>";
                if (value.ok) {
                    var result = value.data;
                    var size = result.length;
                    for (var i = 0; i < size; i++) {
                        var organization = result[i];
                        html += "<option value=\"" + organization.id + "\">" + organization.name + "</option>";
                    }
                    $("#orgId").append(html);
                    //g_form.render('select');
                }

            }
        });
        //修改前预览 通过GET方式拿到数据
        var params = {id: departmentId};
        JFATTY.doGet({
            url: JFATTY.basePath() + "department/edit?id=" + departmentId,
            async: false,
            success: function (value, type) {
                if (value.ok) {
                    var obj = value.data;
                    $("#id").val(obj.id);
                    $("#name").val(obj.name);
                    $("#deptCode").val(obj.deptCode);
                    $("#orgId").val(obj.orgId);
                    $("#description").val(obj.description);
                    if (obj.state == 1) {
                        $("#state_y").attr("checked", true);
                    } else {
                        $("#state_n").attr("checked", true);
                    }
                    form.render();
                    //g_form.render('select');
                }
            }
        });

    });
</script>
