<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.hospital.mapper.AnDfillblankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.hospital.entity.AnDfillblank">
        <id column="id" property="id" />
        <result column="answer" property="answer" />
        <result column="belong_answer_id" property="belongAnswerId" />
        <result column="belong_id" property="belongId" />
        <result column="qu_id" property="quId" />
        <result column="qu_item_id" property="quItemId" />
        <result column="visibility" property="visibility" />
        <result column="score" property="score" />
        <result column="summary" property="summary" />
        <result column="answer_status" property="answerStatus" />
        <result column="answer_status_note" property="answerStatusNote" />
        <result column="customize" property="customize" />
    </resultMap>

</mapper>
