<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.hospital.mapper.AnFillblankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.hospital.entity.AnFillblank">
        <id column="id" property="id" />
        <result column="answer" property="answer" />
        <result column="answer_note" property="answerNote" />
        <result column="belong_answer_id" property="belongAnswerId" />
        <result column="belong_id" property="belongId" />
        <result column="qu_id" property="quId" />
        <result column="visibility" property="visibility" />
        <result column="score" property="score" />
        <result column="summary" property="summary" />
        <result column="answer_status" property="answerStatus" />
        <result column="answer_status_note" property="answerStatusNote" />
        <result column="customize" property="customize" />
    </resultMap>


    <select id="getOptionsFormsWithAnswer" resultMap="BaseResultMap">
        SELECT id,answer,belong_answer_id,belong_id,qu_id,customize FROM stad_an_fillblank WHERE belong_answer_id = #{answerId} AND belong_id = #{surveyId} AND qu_id = #{quId}
    </select>

</mapper>
