<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.hospital.mapper.HOSPageSettingsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.hospital.entity.HOSPageSettings">
        <id column="id" property="id" />
        <result column="appid" property="appid" />
        <result column="hos_name" property="hosName" />
        <result column="hos_slogan" property="hosSlogan" />
        <result column="hos_logo_url" property="hosLogoUrl" />
        <result column="hos_logo_img" property="hosLogoImg" />
        <result column="tech_support" property="techSupport" />
        <result column="tech_support_phone" property="techSupportPhone" />
        <result column="tech_support_www" property="techSupportWww" />
        <result column="icon_type" property="iconType" />
        <result column="description" property="description" />
        <result column="address" property="address" />
        <result column="address_icon_url" property="addressIconUrl" />
        <result column="address_icon_img" property="addressIconImg" />
        <result column="phone" property="phone" />
        <result column="phone_icon_url" property="phoneIconUrl" />
        <result column="phone_icon_img" property="phoneIconImg" />
        <result column="version" property="version" />
        <result column="status" property="status" />
        <result column="state" property="state" />
        <result column="realm" property="realm" />
        <result column="create_operator" property="createOperator" />
        <result column="create_time" property="createTime" />
        <result column="update_operator" property="updateOperator" />
        <result column="update_time" property="updateTime" />
        <result column="delete_state" property="deleteState" />
        <result column="delete_time" property="deleteTime" />
        <result column="delete_operator" property="deleteOperator" />
    </resultMap>

    <!-- 获取表格数据 -->
    <select id="getTable" resultMap="BaseResultMap" parameterType="map" >
        select
        *
        from hospital_page_settings
        where 1 = 1
        <if test="realm != null" >
            and realm = #{realm}
        </if>
        order by create_time desc limit #{pageIndex,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
    </select>
    <!-- 获取表格数据条数 -->
    <select id="getTableCount" resultType="java.lang.Integer" parameterType="map" >
        select
        count(0)
        from hospital_page_settings
        where 1 = 1
        <if test="realm != null" >
            and realm = #{realm}
        </if>
    </select>

</mapper>
