<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.hospital.mapper.ExamCenterMapper">


    <select id="getWebExamPackages" resultType="com.jfatty.zcloud.hospital.vo.WebExamPackage">
        exec dbo.pro_tj_web_tclb
    </select>

    <select id="getWebExamDetails" resultType="com.jfatty.zcloud.hospital.vo.WebExamDetail">
        exec dbo.pro_tj_web_tcmx #{tcid}
    </select>

    <select id="examReserve" resultType="com.jfatty.zcloud.hospital.vo.ExamReserve">
        exec dbo.pro_tj_web_yytj #{yyrq},#{tdbz},#{yydw},#{yyrs},#{brid},#{yytc},#{lxr},#{lxfs},#{lxdz},#{beizhu},#{sfzh},#{rjys},#{tcmc},#{czr}
    </select>

    <select id="getReserveRecords" resultType="com.jfatty.zcloud.hospital.vo.ReserveRecord">
        SELECT * FROM dbo.tj_yy WHERE 1=1 AND czr = #{openId} ORDER BY jlsj DESC
    </select>

    <select id="getReserveRecord" resultType="com.jfatty.zcloud.hospital.vo.ReserveRecord">
        SELECT * FROM dbo.tj_yy WHERE 1=1 AND czr = #{openId} AND yyh =  #{yyh}
    </select>

</mapper>