<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.wechat.mapper.MsgArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.wechat.entity.MsgArticle">
        <id column="ar_id" property="arId" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="content" property="content" />
        <result column="digest" property="digest" />
        <result column="show_cover_pic" property="showCoverPic" />
        <result column="url" property="url" />
        <result column="thumb_media_id" property="thumbMediaId" />
        <result column="content_source_url" property="contentSourceUrl" />
        <result column="media_id" property="mediaId" />
        <result column="news_id" property="newsId" />
        <result column="news_index" property="newsIndex" />
        <result column="pic_url" property="picUrl" />
        <result column="account" property="account" />
        <result column="realm" property="realm" />
        <result column="state" property="state" />
        <result column="create_operator" property="createOperator" />
        <result column="create_time" property="createTime" />
        <result column="update_operator" property="updateOperator" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!--根据 ID 查询 MsgArticle-->
    <select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT * FROM  wxcms_article WHERE 1=1 AND ar_id = #{id}
    </select>

</mapper>
