<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.alipay.mapper.AlipayNewsitemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.alipay.entity.AlipayNewsitem">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="image_path" property="imagePath" />
        <result column="content" property="content" />
        <result column="templateid" property="templateid" />
        <result column="description" property="description" />
        <result column="order_no" property="orderNo" />
        <result column="url" property="url" />
        <result column="hdid" property="hdid" />
        <result column="create_name" property="createName" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_name" property="updateName" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <select id="getAlipayNewsitemByTemplateId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        SELECT * FROM alipay_newsitem WHERE templateid = #{newsTemplateId} ORDER BY order_no ASC
    </select>

</mapper>
