<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.alipay.mapper.AlipayAutoresponseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.alipay.entity.AlipayAutoresponse">
        <id column="id" property="id" />
        <result column="key_word" property="keyWord" />
        <result column="res_content" property="resContent" />
        <result column="msg_type" property="msgType" />
        <result column="template_name" property="templateName" />
        <result column="accountid" property="accountid" />
        <result column="create_name" property="createName" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_name" property="updateName" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <select id="getAlipayAutoresponseByAccountid" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT *  FROM alipay_autoresponse WHERE accountid = #{accountid}
    </select>

    <!-- 获取表格数据 -->
    <select id="getTable" resultMap="BaseResultMap" parameterType="map" >
        select
        *
        from alipay_autoresponse
        where 1 = 1
        order by create_date desc limit #{pageIndex,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
    </select>
    <!-- 获取表格数据条数 -->
    <select id="getTableCount" resultType="java.lang.Integer" parameterType="map" >
        select
        count(0)
        from alipay_autoresponse
        where 1 = 1
    </select>

</mapper>
