<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.alipay.mapper.AlipayMessageLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.alipay.entity.AlipayMessageLog">
        <id column="id" property="id" />
        <result column="message_type" property="messageType" />
        <result column="content_id" property="contentId" />
        <result column="receive_message" property="receiveMessage" />
        <result column="create_date" property="createDate" />
        <result column="message_content" property="messageContent" />
    </resultMap>

    <!-- 获取表格数据 -->
    <select id="getTable" resultMap="BaseResultMap" parameterType="map" >
        select
          *
        from alipay_message_log
        where 1 = 1
        order by create_date desc limit #{pageIndex,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
    </select>
    <!-- 获取表格数据条数 -->
    <select id="getTableCount" resultType="java.lang.Integer" parameterType="map" >
        select
        count(0)
        from alipay_message_log
        where 1 = 1
    </select>

</mapper>
