<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>修改操作</legend>
    </fieldset>

    <form class="layui-form" action="">
        <input type="hidden" name="id" id="id"/>
        <div class="layui-form-item">
            <label class="layui-form-label">应用ID</label>
            <div class="layui-input-block">
                <input type="text" id="appid" name="appid"  placeholder="请输入应用ID" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" id="title" lay-verify="required" placeholder="请输入菜单标题" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="icon" class="layui-form-label">
                <span style="color: red;">*</span>图标
            </label>
            <div class="layui-input-inline">
                <div style="margin-left: 20px;margin-top:5px">
                    <ul>
                        <li style="vertical-align: middle;display: inline-block;width: 90px;" id="menu-icon">
                            <i class="layui-icon" id="icon" style="font-size: 25px;"></i>
                        </li>
                        <li style="vertical-align: middle;display: inline-block;">
                            <i class="layui-btn layui-btn-primary layui-btn-sm" id="select_icon">选择图标</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单定位</label>
            <div class="layui-input-block">
                <input type="text" name="pos" id="pos"  placeholder="请输入菜单定位" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">属导航ID</label>
            <div class="layui-input-block">
                <input type="text" name="navId" id="navId"  placeholder="请输入属导航ID" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模块</label>
            <div class="layui-input-block">
                <input type="text" name="module" id="module" lay-verify="required" placeholder="请输入模块" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">链接跳转类型</label>
            <div class="layui-input-block">
                <select id="type" name="type">
                    <option value="ROUTE">路由</option>
                    <option value="TARGET">窗口</option>
                    <option value="HREF">链接</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">路由</label>
            <div class="layui-input-block">
                <input type="text" name="route" id="route"  placeholder="请输入路由" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">目标链接窗口</label>
            <div class="layui-input-block">
                <input type="text" name="target" id="target" lautocomplete="off" placeholder="请输入目标链接窗口"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">布局方位</label>
            <div class="layui-input-block">
                <select id="layoutMode" name="layoutMode">
                    <option value="grid">九宫格</option>
                    <option value="block">分块</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">规格布局</label>
            <div class="layui-input-block">
                <input type="number" id="norm" name="norm" lay-verify="required" placeholder="大2中1小0  布局 左4中5右6 上8中5下2"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单样式</label>
            <div class="layui-input-block">
                <input type="text" name="plass"  id="plass"  placeholder="请输入菜单样式" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">索引</label>
            <div class="layui-input-block">
                <input type="text" name="pageIndex" id="pageIndex"  autocomplete="off" placeholder="请输入索引"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">菜单版本</label>
            <div class="layui-input-block">
                <input type="text" name="version" id="version" lautocomplete="off" placeholder="请输入菜单版本"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序号</label>
            <div class="layui-input-block">
                <input type="number" name="sortNum" id="sortNum" lautocomplete="off" placeholder="请输入排序号"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">图标类型</label>
            <div class="layui-input-block">
                <input type="radio" name="iconType" id="iconType_y" value="0" title="地址" >
                <input type="radio" name="iconType" id="iconType_n" value="1" title="文件">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">使用状态</label>
            <div class="layui-input-block">
                <input type="radio" name="state" id="state_y" value="1" title="启用" >
                <input type="radio" name="state" id="state_n" value="0" title="停用">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">菜单描述</label>
            <div class="layui-input-block">
                <textarea name="description"  id="description" placeholder="请输入菜单描述" class="layui-textarea"></textarea>
            </div>
        </div>
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>
<script type="text/javascript" th:inline="none">
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer;

        JFATTY.doGet({
            url: JFATTY.basePath() + "menu/edit?id=" + menuId,
            async: false,
            success: function (value, type) {
                if (value.ok) {
                    var obj = value.data;
                    $("#id").val(obj.id);
                    $("#title").val(obj.title);
                    $("#appid").val(obj.appid);
                    $("#pos").val(obj.pos);
                    $("#navId").val(obj.navId);
                    $("#module").val(obj.module);
                    $("#type").val(obj.type);
                    $("#route").val(obj.route);
                    $("#target").val(obj.target);
                    $("#layoutMode").val(obj.layoutMode);
                    $("#norm").val(obj.norm);
                    $("#plass").val(obj.plass);
                    $("#pageIndex").val(obj.pageIndex);
                    $("#sortNum").val(obj.sortNum);
                    $("#version").val(obj.version);
                    $("#description").val(obj.description);
                    if (obj.iconType == 1) {
                        $("#iconType_y").attr("checked", true);
                    } else {
                        $("#iconType_n").attr("checked", true);
                    }
                    if (obj.state == 1) {
                        $("#state_y").attr("checked", true);
                    } else {
                        $("#state_n").attr("checked", true);
                    }
                    form.render();
                }
            }
        });

    });
</script>