<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>修改操作</legend>
    </fieldset>

    <form class="layui-form" action="">
        <input type="hidden" name="id" id="id"/>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" placeholder="请输入" id="name" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位法人</label>
            <div class="layui-input-block">
                <input type="text" name="legal" id="legal" lay-verify="required" placeholder="请输入单位法人姓名" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系人</label>
            <div class="layui-input-block">
                <input type="text" name="contact" lay-verify="required" placeholder="请输入" id="contact"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系人电话</label>
            <div class="layui-input-block">
                <input type="tel" name="tel" lay-verify="phone" autocomplete="off" id="tel" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">编码</label>
            <div class="layui-input-block">
                <input type="text" name="orgCode" readonly lay-verify="required" placeholder="请输入" id="orgCode"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" lay-verify="required" placeholder="请输入" id="address"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="email" lay-verify="email" autocomplete="off" id="email" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">官网地址</label>
            <div class="layui-input-block">
                <input type="text" name="www" lay-verify="url" autocomplete="off" id="www" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">联系QQ</label>
            <div class="layui-input-block">
                <input type="text" name="qq" id="qq"  autocomplete="off" placeholder="请输入联系QQ"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">联系微信</label>
            <div class="layui-input-block">
                <input type="text" name="wx" id="wx"  autocomplete="off" placeholder="请输入联系微信"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">上级单位</label>
            <div class="layui-input-block">
                <select id="parentId" name="parentId">
                    <option value="">请选择上级单位</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">简介</label>
            <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入简介内容" id="remark" class="layui-textarea"></textarea>
            </div>
        </div>
        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>
<script type="text/javascript" th:inline="none">
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer;

        JFATTY.doGet({
            url: JFATTY.basePath() + "org/list",
            data: null,
            success: function (value, type) {
                $("#parentId").html("");
                var html = "<option value=''>请选择上级单位</option>";
                if (value.ok) {
                    var result = value.data;
                    var size = result.length;
                    for (var i = 0; i < size; i++) {
                        var parent = result[i];
                        html += "<option value=\"" + parent.id + "\">" + parent.name + "</option>";
                    }
                    $("#parentId").append(html);
                    form.render('select');
                }

            }
        });

        //修改前预览 通过GET方式拿到数据
        var params = {id: orgId};
        JFATTY.doGet({
            url: JFATTY.basePath() + "org/edit?id=" + orgId,
            async: false,
            success: function (value, type) {
                if (value.ok) {
                    var obj = value.data;
                    $("#id").val(obj.id);
                    $("#legal").val(obj.legal);
                    $("#name").val(obj.name);
                    $("#contact").val(obj.contact);
                    $("#tel").val(obj.tel);
                    $("#orgCode").val(obj.orgCode);
                    $("#address").val(obj.address);
                    $("#email").val(obj.email);
                    $("#www").val(obj.www);
                    $("#qq").val(obj.qq);
                    $("#wx").val(obj.wx);
                    $("#parentId").val(obj.parentId);
                    $("#remark").val(obj.remark);
                    form.render();
                    //g_form.render('select');
                }
            }
        });

    });
</script>