<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.auth.mapper.AuthSmsConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.auth.entity.AuthSmsConfig">
        <id column="id" property="id" />
        <result column="appid" property="appid" />
        <result column="sms_code" property="smsCode" />
        <result column="service_name" property="serviceName" />
        <result column="provider_name" property="providerName" />
        <result column="product" property="product" />
        <result column="domain" property="domain" />
        <result column="access_key_id" property="accessKeyId" />
        <result column="access_key_secret" property="accessKeySecret" />
        <result column="template_id" property="templateId" />
        <result column="sign_name" property="signName" />
        <result column="out_id" property="outId" />
        <result column="status" property="status" />
        <result column="state" property="state" />
        <result column="realm" property="realm" />
        <result column="create_operator" property="createOperator" />
        <result column="create_time" property="createTime" />
        <result column="update_operator" property="updateOperator" />
        <result column="update_time" property="updateTime" />
        <result column="delete_state" property="deleteState" />
        <result column="delete_time" property="deleteTime" />
        <result column="delete_operator" property="deleteOperator" />
    </resultMap>

    <!-- 获取表格数据 -->
    <select id="getTable" resultMap="BaseResultMap" parameterType="map" >
        select
        *
        from auth_sms_config
        where 1 = 1
        <if test="realm != null" >
            and realm = #{realm}
        </if>
        order by create_time desc limit #{pageIndex,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
    </select>
    <!-- 获取表格数据条数 -->
    <select id="getTableCount" resultType="java.lang.Integer" parameterType="map" >
        select
        count(0)
        from auth_sms_config
        where 1 = 1
        <if test="realm != null" >
            and realm = #{realm}
        </if>
    </select>

    <select id="getByAppId" resultMap="BaseResultMap">
        SELECT * FROM auth_sms_config WHERE appid = #{appId} LIMIT 1

    </select>

</mapper>
