<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.system.mapper.AddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.system.entity.Address">
        <id column="id" property="id" />
        <result column="belong_id" property="belongId" />
        <result column="country" property="country" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="ownship" property="ownship" />
        <result column="village" property="village" />
        <result column="household" property="household" />
        <result column="postcode" property="postcode" />
        <result column="addr_type" property="addrType" />
        <result column="description" property="description" />
        <result column="realm" property="realm" />
        <result column="state" property="state" />
        <result column="create_operator" property="createOperator" />
        <result column="create_time" property="createTime" />
        <result column="update_operator" property="updateOperator" />
        <result column="update_time" property="updateTime" />
        <result column="delete_state" property="deleteState" />
        <result column="delete_time" property="deleteTime" />
        <result column="delete_operator" property="deleteOperator" />
    </resultMap>

    <!-- 获取表格数据 -->
    <select id="getTable" resultMap="BaseResultMap" parameterType="map" >
        SELECT
        *
        FROM sys_address
        WHERE 1 = 1
        <if test="realm != null" >
            AND realm = #{realm}
        </if>
        order by create_time desc limit #{pageIndex,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
    </select>
    <!-- 获取表格数据条数 -->
    <select id="getTableCount" resultType="java.lang.Integer" parameterType="map" >
        SELECT
        count(0)
        FROM sys_address
        WHEREWHERE 1 = 1
        <if test="realm != null" >
            AND realm = #{realm}
        </if>
    </select>

    <select id="getByBelongId" resultMap="BaseResultMap" >
        SELECT * FROM sys_address WHERE 1=1 AND belong_id = #{belongId}
    </select>

</mapper>
