<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.health.mapper.HCSHealthCardInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.health.entity.HCSHealthCardInfo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="id_number" property="idNumber" />
        <result column="id_type" property="idType" />
        <result column="nation" property="nation" />
        <result column="birthday" property="birthday" />
        <result column="address" property="address" />
        <result column="phone1" property="phone1" />
        <result column="phone2" property="phone2" />
        <result column="patid" property="patid" />
        <result column="wechat_code" property="wechatCode" />
        <result column="phid" property="phid" />
        <result column="qr_code_text" property="qrCodeText" />
        <result column="health_card_id" property="healthCardId" />
        <result column="admin_ext" property="adminExt" />
        <result column="status" property="status" />
        <result column="state" property="state" />
        <result column="realm" property="realm" />
        <result column="create_operator" property="createOperator" />
        <result column="create_time" property="createTime" />
        <result column="update_operator" property="updateOperator" />
        <result column="update_time" property="updateTime" />
        <result column="delete_state" property="deleteState" />
        <result column="delete_time" property="deleteTime" />
        <result column="delete_operator" property="deleteOperator" />
    </resultMap>

    <!-- 获取表格数据 -->
    <select id="getTable" resultMap="BaseResultMap" parameterType="map" >
        select
        *
        from hcs_health_card_info
        where 1 = 1
        <if test="realm != null" >
            and realm = #{realm}
        </if>
        order by create_time desc limit #{pageIndex,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
    </select>
    <!-- 获取表格数据条数 -->
    <select id="getTableCount" resultType="java.lang.Integer" parameterType="map" >
        select
        count(0)
        from hcs_health_card_info
        where 1 = 1
        <if test="realm != null" >
            and realm = #{realm}
        </if>
    </select>

    <select id="getByIdCardNumber" resultMap="BaseResultMap" >
        SELECT * FROM hcs_health_card_info WHERE id_number = #{idNumber} LIMIT 1
    </select>


    <select id="getNationDicStr" resultType="java.lang.String">
        select concat(concat( dic_value, ':::' , dic_code),':::' , id)  as nation from sys_dictionary WHERE dic_value = #{sourceNation} LIMIT 1
    </select>

</mapper>
