<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfatty.zcloud.health.mapper.HealthCardUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jfatty.zcloud.health.entity.HealthCardUser">
        <id column="id" property="id" />
        <result column="appid" property="appid" />
        <result column="hospital_id" property="hospitalId" />
        <result column="open_id" property="openId" />
        <result column="open_id_type" property="openIdType" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="birthday" property="birthday" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="state" property="state" />
        <result column="realm" property="realm" />
        <result column="create_operator" property="createOperator" />
        <result column="create_time" property="createTime" />
        <result column="update_operator" property="updateOperator" />
        <result column="update_time" property="updateTime" />
        <result column="delete_state" property="deleteState" />
        <result column="delete_time" property="deleteTime" />
        <result column="delete_operator" property="deleteOperator" />
    </resultMap>


    <!-- 获取表格数据 -->
    <select id="getTable" resultMap="BaseResultMap" parameterType="map" >
        select
        *
        from hcs_health_card_user
        where 1 = 1
        <if test="realm != null" >
            and realm = #{realm}
        </if>
        order by create_time desc limit #{pageIndex,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
    </select>
    <!-- 获取表格数据条数 -->
    <select id="getTableCount" resultType="java.lang.Integer" parameterType="map" >
        select
        count(0)
        from hcs_health_card_user
        where 1 = 1
        <if test="realm != null" >
            and realm = #{realm}
        </if>
    </select>

    <select id="getByOpenId" resultType="java.lang.String">
        select
         health_card_info_id
        from hcs_health_card_user_relationship
        where 1 = 1  and delete_state = 0 and state = 1
        and user_id = ( SELECT  id FROM hcs_health_card_user WHERE 1=1 and open_id = #{openId} and open_id_type = #{openIdType} )
        order by create_time desc
    </select>

    <insert id="tieHealthCard">
        insert into hcs_health_card_user_relationship(user_id,health_card_info_id) select (SELECT id FROM hcs_health_card_user WHERE 1=1 AND open_id = #{openId}  AND open_id_type = #{openIdType}  AND hospital_id = #{hospitalId} LIMIT 1 ) , #{healthCardInfoId}
        where not exists (select user_id from hcs_health_card_user_relationship where user_id=(SELECT id FROM hcs_health_card_user WHERE 1=1 AND open_id = #{openId}  AND open_id_type = #{openIdType}  AND hospital_id = #{hospitalId} LIMIT 1 ) and health_card_info_id=#{healthCardInfoId} )
    </insert>

    <update id="untieHealthCard">
        UPDATE hcs_health_card_user_relationship SET delete_state = 1 WHERE  1=1 AND  user_id = (SELECT id FROM hcs_health_card_user WHERE 1=1 AND open_id = #{openId}  AND open_id_type = #{openIdType}  AND hospital_id = #{hospitalId} LIMIT 1 )  AND health_card_info_id = #{healthCardInfoId}
    </update>

    <select id="getByOpts" resultMap="BaseResultMap">
        SELECT * FROM hcs_health_card_user WHERE 1=1 AND open_id = #{openId}  AND open_id_type = #{openIdType}  AND appid = #{appId} AND hospital_id = #{hospitalId} LIMIT 1
    </select>

</mapper>
