<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>界面图片开发配置</legend>
    </fieldset>

    <form class="layui-form" action="">
        <input type="hidden" name="id" id="id"/>
        <div class="layui-form-item">
            <label class="layui-form-label">应用ID</label>
            <div class="layui-input-block">
                <input type="text" id="appid" name="appid" lay-verify="required" placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">页面标识ID</label>
            <div class="layui-input-block">
                <input type="text" name="pageId" id="pageId"  lay-verify="required"
                       placeholder="页面标识ID" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">页面标签ID</label>
            <div class="layui-input-block">
                <input type="text" id="elemId" name="elemId" lay-verify="required" placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片标题</label>
            <div class="layui-input-block">
                <input type="text" id="imgTitle" name="imgTitle" lay-verify="required" placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片副标题</label>
            <div class="layui-input-block">
                <input type="text" id="subTitle" name="subTitle" lay-verify="required" placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片对应缺标题</label>
            <div class="layui-input-block">
                <input type="text" id="imgAlt" name="imgAlt" placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片类型</label>
            <div class="layui-input-block">
                <input type="text" id="imgType" name="imgType"  placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">激活图片对应路径</label>
            <div class="layui-input-block">
                <input type="text" id="actIconUrl" name="actIconUrl"  placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片对应路径</label>
            <div class="layui-input-block">
                <input type="text" id="iconUrl" name="iconUrl"  placeholder="请输入" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设置字段</label>
            <div class="layui-input-block">
                <input type="text" id="site" name="site"  placeholder="根据需求使用本字段" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">使用状态</label>
            <div class="layui-input-block">
                <input type="radio" name="state" value="1" title="启用" checked="">
                <input type="radio" name="state" value="0" title="停用">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="description" id="description" placeholder="请输入描述内容" class="layui-textarea"></textarea>
            </div>
        </div>

        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>
<script type="text/javascript" th:inline="none">
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer;

        JFATTY.doGet({
            url: JFATTY.basePath() + "pageImage/edit?id=" + objId,
            async: false,
            success: function (value, type) {
                if (value.ok) {
                    var obj = value.data;
                    $("#id").val(obj.id);
                    $("#appid").val(obj.appid);
                    $("#pageId").val(obj.pageId);
                    $("#elemId").val(obj.elemId);
                    $("#imgTitle").val(obj.imgTitle);
                    $("#subTitle").val(obj.subTitle);
                    $("#imgAlt").val(obj.imgAlt);
                    $("#imgType").val(obj.imgType);
                    $("#actIconUrl").val(obj.actIconUrl);
                    $("#iconUrl").val(obj.iconUrl);
                    $("#site").val(obj.site);
                    $("#description").val(obj.description);
                    if (obj.state == 1) {
                        $("#state_y").attr("checked", true);
                    } else {
                        $("#state_n").attr("checked", true);
                    }
                    form.render();
                }
            }
        });

    });
</script>