<div style="margin: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>科室</legend>
    </fieldset>

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">科室名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" placeholder="请输入科室名称" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">科室编码</label>
            <div class="layui-input-block">
                <input type="text" name="officeCode" id="officeCode" readonly lay-verify="required"
                       placeholder="请输入科室编码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-inline">
                <select id="deptId" name="deptId">
                    <option>请选择部门</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">使用状态</label>
            <div class="layui-input-block">
                <input type="radio" name="state" value="1" title="启用" checked="">
                <input type="radio" name="state" value="0" title="停用">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">科室描述</label>
            <div class="layui-input-block">
                <textarea name="description" placeholder="请输入描述内容" class="layui-textarea"></textarea>
            </div>
        </div>

        <button lay-filter="edit" lay-submit style="display: none;"></button>
    </form>
</div>
<script type="text/javascript" th:inline="none">
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer;
        var serial = Date.parse(new Date());
        serial = "OFFICE" + serial;
        $("#officeCode").val(serial);

        JFATTY.doGet({
            url: JFATTY.basePath() + "department/list",
            async: false,
            data: null,
            success: function (value, type) {
                $("#deptId").html("");
                var html = "<option >请选择部门</option>";
                if (value.ok) {
                    var result = value.data;
                    var size = result.length;
                    for (var i = 0; i < size; i++) {
                        var dept = result[i];
                        html += "<option value=\"" + dept.id + "\">" + dept.name + "</option>";
                    }
                    $("#deptId").append(html);
                }

            }
        });
        form.render();
    });
</script>